@page "{id:int}"
@model MegaDesk9Group.Pages.DeskQuotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@Model.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.QuoteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.QuoteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.RushOrder)
        </dt>
        @if (@Model.DeskQuote.RushOrder == null)
        {
            <dd>No</dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.DeskQuote.RushOrder) Days</dd>
        }
        <dt>
        @Html.DisplayNameFor(model => model.DeskQuote.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.Depth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.Depth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.DrawerCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.DrawerCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.SurfaceMaterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.SurfaceMaterial)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DeskQuote.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
