@page  "{id:int}"
@model MegaDesk9Group.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<main>
    <h2>Details</h2>

        <h4>Customer: @Html.DisplayFor(model => model.Quote.FullName)</h4>
        <hr />
        <table class="table detailsTable">
            <thead>
                <tr>
                    <th colspan="2" class="detailsHead">
                        Desk Specifications
                    </th>

                    <th colspan="2" class="detailsHead">
                        Price
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Desk @Html.DisplayNameFor(model => model.Quote.Width):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.Width) in

                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Desk @Html.DisplayNameFor(model => model.Quote.Depth):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.Depth) in.

                    </td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Total Area:
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.SurfaceArea)  sq.in.

                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.BasePrice):
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Quote.BasePrice)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.DrawerCount):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.DrawerCount)

                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.DrawerTotal):
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Quote.DrawerTotal)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.SurfaceMaterial):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.SurfaceMaterial)

                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.MaterialFee):
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Quote.MaterialFee)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.RushOrder):
                    </td>
                    @if (@Model.Quote.RushOrder == null)
                    {
                        <td>No</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(model => model.Quote.RushOrder) Days</td>
                    }

                    <td>
                        @Html.DisplayNameFor(model => model.Quote.RushCost):
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Quote.RushCost)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.QuoteDate):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quote.QuoteDate)

                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Quote.QuoteAmount):
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Quote.QuoteAmount)
                    </td>

                </tr>

            </tbody>

        </table>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Quote.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</main>